html {
    height: 100%;
}

body {
    background-color: #efefef;
    font-family: 'Lucida Grande',
        'Hiragino Kaku Gothic ProN',
        'Meiryo',
        sans-serif;
    min-height: 100%;
}

.muse-item {
    margin: 1em;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative;
    
    cursor: pointer;
}

.muse-item .cover {
    display: none;
    
    background: rgba(255,255,255,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
}

.cover i:before {
    font-size: 5em;
    margin: 0;
}

.dropping {
    background: #ddd;
}